/* Import font từ Google */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

.glitch-wrapper {
	/* Cấu hình bao quát */
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-family: 'Archivo Black', sans-serif;
	/* Logic của dòng chữ Glitch bên trong */
	.glitch {
	color: white;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	text-decoration: none;
	/* Tạo 2 lớp giả (pseudo-elements) để làm nhiễu */
		&::before, &::after {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		clip: rect(0, 0, 0, 0); /* Mặc định ẩn bằng clip cổ điển */
		}

		/* Lớp màu Cyan (Xanh của dự án) */
		&::before {
			left: 3px;
			text-shadow: -2px 0 #66edff;
			animation: glitch-anim-1 0.5s infinite linear alternate-reverse;
		}

		/* Lớp màu Hồng (Chromatic Aberration) */
		&::after {
			left: -3px;
			text-shadow: -2px 0 #ff00c1;
			animation: glitch-anim-2 0.5s infinite linear alternate-reverse;
		}

	}
}

/* Các khung hình chuyển động cắt lớp (Keyframes) */
@keyframes glitch-anim-1 {
	0% {
		clip: rect(9px, 9999px, 50px, 0);
	}

	20% {
		clip: rect(9px, 9999px, 4px, 0);
	}

	40% {
		clip: rect(9px, 9999px, 13px, 0);
	}

	60% {
		clip: rect(18px, 9999px, 4px, 0);
	}

	80% {
		clip: rect(27px, 9999px, 13px, 0);
	}

	100% {
		clip: rect(18px, 9999px, 5px, 0);
	}
}

@keyframes glitch-anim-2 {
	0% {
		clip: rect(7px, 9999px, 50px, 0);
	}

	10% {
		clip: rect(7px, 9999px, 4px, 0);
	}

	30% {
		clip: rect(7px, 9999px, 13px, 0);
	}

	50% {
		clip: rect(15px, 9999px, 4px, 0);
	}

	70% {
		clip: rect(20px, 9999px, 13px, 0);
	}

	90% {
		clip: rect(14px, 9999px, 5px, 0);
	}
}
